p{
    color: white;
}
body{
    background-color: brown;
}
.DIV{
    color:black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThwdeu2mJqnoiTg2oIJqAtd6on5TBpKlBGrQ&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}